In [2]:
# Dependencies 
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
# District Summary
# Calculate the total number of schools
school_names=school_data['school_name'].unique()
total_schools=len(school_names)
total_schools

15

In [4]:
# Calculate the total number of students
# student number using total size of school
total_student=school_data["size"].sum()
total_student

39170

In [5]:
# student number using total student count in student data to check if total is the same
total_sudent_check=student_data['student_name'].count()
total_sudent_check

39170

In [6]:
# Calculate the total budget
Total_budget=school_data['budget'].sum()
Total_budget

24649428

In [7]:
# Calculate the average math score
# calculate the total of math score from student data and devided by total student number 
ave_math_score=student_data['math_score'].sum()/total_student
ave_math_score

78.98537145774827

In [8]:
# Calculate the average reading score using total reading score devided by total student number
ave_reading_score=student_data['reading_score'].sum()/total_student
ave_reading_score

81.87784018381414

In [9]:
# Calcualte the percentage of sutdent with passing math score, 70 or greater
math_passing=student_data.loc[student_data[
    "math_score"]>=70]["math_score"].count()

math_passing_percentage=math_passing/total_student
math_passing_percentage

0.749808526933878

In [10]:
# Calculate the percentage of students with a passing reading score (70 or greater)
reading_passing=student_data.loc[student_data["reading_score"]>=70]["reading_score"].count()
reading_passing_percentage=reading_passing/total_student
reading_passing_percentage

0.8580546336482001

In [11]:
# Calculate the percentage of students with a passing reading score (70 or greater)
all_pass=student_data.loc[(student_data["math_score"]>=70) & (student_data["reading_score"]>=70)]["student_name"].count()
all_pass_rate=all_pass/total_student
all_pass_rate

0.6517232575950983

In [12]:
# Create a dataframe to hold the above results
district_summary = pd.DataFrame({"Total Schools":[total_schools],
                                 "Total Students":[total_student],
                                 "Total Budget":[Total_budget],
                                 "Average Math Score":[ave_math_score],
                                 "Average Reading Score":[ave_reading_score],
                                 "% Passing Math":[math_passing_percentage],
                                 "% Passing Reading":[reading_passing_percentage],
                                 "Overall Passing Rate":[all_pass_rate]                            
                                })

# Arrange table order
district_summary=district_summary[["Total Schools","Total Students","Total Budget","Average Reading Score","Average Math Score",                                     "% Passing Reading","% Passing Math","Overall Passing Rate"]]

# Format table 
district_summary['Total Budget'] = district_summary['Total Budget'].map("${:,.2f}".format)
district_summary['Average Math Score'] = district_summary['Average Math Score'].map("{:,.2f}".format)
district_summary['Average Reading Score'] = district_summary['Average Reading Score'].map("{:,.2f}".format)
district_summary['Total Students'] = district_summary['Total Students'].map("{:,}".format)
district_summary['Overall Passing Rate'] = district_summary['Overall Passing Rate'].map("{:.1%}".format)
district_summary['% Passing Math'] = district_summary['% Passing Math'].map("{:.1%}".format)
district_summary['% Passing Reading'] = district_summary['% Passing Reading'].map("{:.1%}".format)

district_summary

,Total Schools,Total Students,Total Budget,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,Overall Passing Rate
0,15,"39,170","$24,649,428.00",81.88,78.99,85.8%,75.0%,65.2%

In [37]:
# School Summary
# School Names
schl_name=school_data_complete.set_index('school_name').groupby(['school_name'])

# School Type
school_type=school_data.set_index('school_name')['type']

# Total students
Student_per_school= schl_name['Student ID'].count()

# Total School Budget
School_budget=school_data.set_index('school_name')['budget']

# Per Student Budget
per_student_budget=School_budget/Student_per_school

# Average Math score
ave_math_byschool=schl_name['math_score'].mean()

# Average Reading score
ave_reading_byschool=schl_name['reading_score'].mean()

# % passing Math
schl_pass_math=school_data_complete[school_data_complete['math_score']>=70].groupby('school_name')['Student ID'].count()/Student_per_school

# % passing reading
schl_pass_reading=school_data_complete[school_data_complete['reading_score']>=70].groupby('school_name')['Student ID'].count()/Student_per_school

# School's overall passing rate
school_passing_rate=school_data_complete[(school_data_complete['reading_score']>=70) &(school_data_complete['math_score']>=70)].groupby('school_name')['Student ID'].count()/Student_per_school

# Create a dataframe to hold the above result
school_summary=pd.DataFrame({"School Type": school_type,"Total Student": Student_per_school,
                            "Total School Budget": School_budget,"Per Student Budget": per_student_budget,
                            "Average Math Score":ave_math_byschool,"Average Reading Score":ave_reading_byschool,
                            "% Passing Math": schl_pass_math,"% Passing Reading": schl_pass_reading,
                            "% Overall Passing": school_passing_rate})

# Format the table
school_summary['Total Student'] = school_summary['Total Student'].map("{:,}".format)
school_summary['Total School Budget'] = school_summary['Total School Budget'].map("{:,}".format)
school_summary['Per Student Budget'] = school_summary['Per Student Budget'].map("{:.2f}".format)
school_summary['Average Math Score'] = school_summary['Average Math Score'].map("{:.1f}".format)
school_summary['Average Reading Score'] = school_summary['Average Reading Score'].map("{:.1f}".format)
school_summary['% Passing Math'] = school_summary['% Passing Math'].map("{:.2%}".format)
school_summary['% Passing Reading'] = school_summary['% Passing Reading'].map("{:.2%}".format)
school_summary['% Overall Passing'] = school_summary['% Overall Passing'].map("{:.2%}".format)


school_summary

,School Type,Total Student,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,"4,976","3,124,928",628.00,77.0,81.0,66.68%,81.93%,54.64%
Cabrera High School,Charter,"1,858","1,081,356",582.00,83.1,84.0,94.13%,97.04%,91.33%
Figueroa High School,District,"2,949","1,884,411",639.00,76.7,81.2,65.99%,80.74%,53.20%
Ford High School,District,"2,739","1,763,916",644.00,77.1,80.7,68.31%,79.30%,54.29%
Griffin High School,Charter,"1,468","917,500",625.00,83.4,83.8,93.39%,97.14%,90.60%
Hernandez High School,District,"4,635","3,022,020",652.00,77.3,80.9,66.75%,80.86%,53.53%
Holden High School,Charter,427,"248,087",581.00,83.8,83.8,92.51%,96.25%,89.23%
Huang High School,District,"2,917","1,910,635",655.00,76.6,81.2,65.68%,81.32%,53.51%
Johnson High School,District,"4,761","3,094,650",650.00,77.1,81.0,66.06%,81.22%,53.54%
Pena High School,Charter,962,"585,858",609.00,83.8,84.0,94.59%,95.95%,90.54%
Rodriguez High School,District,"3,999","2,547,363",637.00,76.8,80.7,66.37%,80.22%,52.99%
Shelton High School,Charter,"1,761","1,056,600",600.00,83.4,83.7,93.87%,95.85%,89.89%
Thomas High School,Charter,"1,635","1,043,130",638.00,83.4,83.8,93.27%,97.31%,90.95%
Wilson High School,Charter,"2,283","1,319,574",578.00,83.3,84.0,93.87%,96.54%,90.58%
Wright High School,Charter,"1,800","1,049,400",583.00,83.7,84.0,93.33%,96.61%,90.33%

In [14]:
# Top Performing Schools (By % Overall Passing)
# Sort and display the top five performing schools by % overall passing.
top5_passing=school_summary.sort_values("% Overall Passing", ascending=False)
top5_passing.head(5)

,School Type,Total Student,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,"1,858","1,081,356",582.00,83.1,84.0,94.13%,97.04%,91.33%
Thomas High School,Charter,"1,635","1,043,130",638.00,83.4,83.8,93.27%,97.31%,90.95%
Griffin High School,Charter,"1,468","917,500",625.00,83.4,83.8,93.39%,97.14%,90.60%
Wilson High School,Charter,"2,283","1,319,574",578.00,83.3,84.0,93.87%,96.54%,90.58%
Pena High School,Charter,962,"585,858",609.00,83.8,84.0,94.59%,95.95%,90.54%

In [15]:
# Bottom Performing Schools (By % Overall Passing)
# Sort and display the five worst-performing schools by % overall passing.
bottom5_passing=school_summary.sort_values("% Overall Passing",ascending=True)
bottom5_passing.head(5)

,School Type,Total Student,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,"3,999","2,547,363",637.00,76.8,80.7,66.37%,80.22%,52.99%
Figueroa High School,District,"2,949","1,884,411",639.00,76.7,81.2,65.99%,80.74%,53.20%
Huang High School,District,"2,917","1,910,635",655.00,76.6,81.2,65.68%,81.32%,53.51%
Hernandez High School,District,"4,635","3,022,020",652.00,77.3,80.9,66.75%,80.86%,53.53%
Johnson High School,District,"4,761","3,094,650",650.00,77.1,81.0,66.06%,81.22%,53.54%

In [16]:
# Math scores by Grade
# Create variabel to hold student data by grade
grade_nine=student_data.loc[student_data['grade']=="9th"]
grade_ten=student_data.loc[student_data['grade']=="10th"]
grade_eleven=student_data.loc[student_data['grade']=="11th"]
grade_twelve=student_data.loc[student_data['grade']=="12th"]

# work out mean of match score by school 
math_ninth=grade_nine.groupby("school_name")["math_score"].mean()
math_tenth=grade_ten.groupby("school_name")["math_score"].mean()
math_eleventh=grade_eleven.groupby("school_name")["math_score"].mean()
math_twelveth=grade_twelve.groupby("school_name")["math_score"].mean()

# Combine the series into a data frame
math_by_grade=pd.DataFrame({"9th":math_ninth,
                            "10th":math_tenth,
                            "11th":math_eleventh,
                            "12th":math_twelveth})

# Format the DF
math_by_grade['9th'] = math_by_grade['9th'].map("{:.3f}".format)
math_by_grade['10th'] = math_by_grade['10th'].map("{:.3f}".format)
math_by_grade['11th'] = math_by_grade['11th'].map("{:.3f}".format)
math_by_grade['12th'] = math_by_grade['12th'].map("{:.3f}".format)

math_by_grade

                          9th    10th    11th    12th
school_name
Bailey High School     77.084  76.997  77.516  76.492
Cabrera High School    83.095  83.155  82.766  83.277
Figueroa High School   76.403  76.540  76.884  77.151
Ford High School       77.361  77.672  76.918  76.180
Griffin High School    82.044  84.229  83.842  83.356
Hernandez High School  77.438  77.337  77.136  77.187
Holden High School     83.787  83.430  85.000  82.855
Huang High School      77.027  75.909  76.447  77.226
Johnson High School    77.188  76.691  77.492  76.863
Pena High School       83.625  83.372  84.328  84.122
Rodriguez High School  76.860  76.612  76.396  77.691
Shelton High School    83.421  82.917  83.383  83.779
Thomas High School     83.590  83.088  83.499  83.497
Wilson High School     83.086  83.724  83.195  83.036
Wright High School     83.265  84.010  83.837  83.645

In [17]:
# Reading score by grade
# Student data had been made in previous step
# work out mean of match score by school 
grade_nine=student_data.loc[student_data['grade']=="9th"]
grade_ten=student_data.loc[student_data['grade']=="10th"]
grade_eleven=student_data.loc[student_data['grade']=="11th"]
grade_twelve=student_data.loc[student_data['grade']=="12th"]

reading_ninth=grade_nine.groupby("school_name")["reading_score"].mean()
reading_tenth=grade_ten.groupby("school_name")["reading_score"].mean()
reading_eleventh=grade_eleven.groupby("school_name")["reading_score"].mean()
reading_twelveth=grade_twelve.groupby("school_name")["reading_score"].mean()

# Combine the series into a data frame
reading_by_grade=pd.DataFrame({"9th":reading_ninth,
                            "10th":reading_tenth,
                            "11th":reading_eleventh,
                            "12th":reading_twelveth})

# Format the DF
reading_by_grade['9th'] = reading_by_grade['9th'].map("{:.3f}".format)
reading_by_grade['10th'] = reading_by_grade['10th'].map("{:.3f}".format)
reading_by_grade['11th'] = reading_by_grade['11th'].map("{:.3f}".format)
reading_by_grade['12th'] = reading_by_grade['12th'].map("{:.3f}".format)

reading_by_grade

                          9th    10th    11th    12th
school_name
Bailey High School     81.303  80.907  80.946  80.912
Cabrera High School    83.676  84.253  83.788  84.288
Figueroa High School   81.199  81.409  80.640  81.385
Ford High School       80.633  81.263  80.404  80.662
Griffin High School    83.369  83.707  84.288  84.014
Hernandez High School  80.867  80.660  81.396  80.857
Holden High School     83.677  83.325  83.816  84.699
Huang High School      81.290  81.512  81.417  80.306
Johnson High School    81.261  80.773  80.616  81.228
Pena High School       83.807  83.612  84.336  84.591
Rodriguez High School  80.993  80.630  80.865  80.376
Shelton High School    84.123  83.442  84.374  82.782
Thomas High School     83.729  84.254  83.586  83.831
Wilson High School     83.940  84.021  83.765  84.318
Wright High School     83.833  83.813  84.156  84.073

In [122]:
# Scores by School Spending

# change to numeric format in school summary data frame
school_summary['Per Student Budget'] = pd.to_numeric(school_summary['Per Student Budget'])


# Set up bins to hold spending ranges
spending_bins=[0,584,629,644,675]
group_names=["<$584","$585-629","$630-644","$645-675"]
school_summary["Spending Range Per Student"]=pd.cut(school_summary["Per Student Budget"],spending_bins,labels=group_names)
school_summary.head()

# Group data by Spending range bin that's set up 
score_spending=school_summary.groupby(['Spending Range Per Student'])




# Convert data type to numeric Average Math Score, % passing Math, reading and overall required after checking datatype
school_summary['Average Math Score']=pd.to_numeric(school_summary['Average Math Score'])
school_summary['Average Reading Score']=pd.to_numeric(school_summary['Average Reading Score'])
school_summary["% Passing Math"] = school_summary["% Passing Math"].replace('%', '', regex=True).astype('float')
school_summary['% Passing Math']=pd.to_numeric(school_summary['% Passing Math'])
school_summary["% Passing Reading"] = school_summary["% Passing Reading"].replace('%', '', regex=True).astype('float')
school_summary['% Passing Reading']=pd.to_numeric(school_summary['% Passing Reading'])
school_summary["% Overall Passing"] = school_summary["% Overall Passing"].replace('%', '', regex=True).astype('float')
school_summary['% Overall Passing']=pd.to_numeric(school_summary['% Overall Passing'])

# score_spending.dtypes

#calculate the mean of every spending group
math_score_mean=score_spending["Average Math Score"].mean()
Reading_score_mean=score_spending["Average Reading Score"].mean()
passing_math_mean=score_spending["% Passing Math"].mean()
passing_reading_mean=score_spending["% Passing Reading"].mean()
allPassing_mean=score_spending["% Overall Passing"].mean()

# create a dataframe to hold the results
scores_by_spending=pd.DataFrame({"Average Math Score":math_score_mean,
                                "Average Reading Score":Reading_score_mean,
                                "% Passing Math":passing_math_mean,
                                "% Passing Reading":passing_reading_mean,
                                "% Overall Passing":allPassing_mean})

# Format data
scores_by_spending["Average Reading Score"]=scores_by_spending["Average Reading Score"].map("{:.3f}".format)
scores_by_spending["% Passing Math"]=scores_by_spending["% Passing Math"].map("{:.3f}".format)
scores_by_spending["% Passing Reading"]=scores_by_spending["% Passing Reading"].map("{:.3f}".format)
scores_by_spending["% Overall Passing"]=scores_by_spending["% Overall Passing"].map("{:.3f}".format)

scores_by_spending

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Range Per Student,,,,,
<$584,83.475,83.950,93.460,96.610,90.367
$585-629,81.900,83.125,87.132,92.718,81.418
$630-644,78.500,81.600,73.485,84.392,62.858
$645-675,77.000,81.033,66.163,81.133,53.527

In [134]:
# Scores by school size

# change to numeric format in school summary data frame
school_summary["Total Student"] = school_summary["Total Student"].replace(',', '', regex=True).astype('float')
school_summary['Total Student'] = pd.to_numeric(school_summary['Total Student'])


# Create Bins by size
size_bins = [0,1000,2000,5000]
names = ["Small(<1000)","Medium(1000-2000)","Large(2000-5000)"]
school_summary["School Size"]=pd.cut(school_summary["Total Student"], size_bins,labels=names)
school_summary.head()

# Group data by school size
school_size=school_summary.groupby(["School Size"])

#calculate the mean of every size group
math_score_mean=school_size["Average Math Score"].mean()
Reading_score_mean=school_size["Average Reading Score"].mean()
passing_math_mean=school_size["% Passing Math"].mean()
passing_reading_mean=school_size["% Passing Reading"].mean()
allPassing_mean=school_size["% Overall Passing"].mean()

# create a dataframe to hold the results
scores_by_size=pd.DataFrame({"Average Math Score":math_score_mean,
                                "Average Reading Score":Reading_score_mean,
                                "% Passing Math":passing_math_mean,
                                "% Passing Reading":passing_reading_mean,
                                "% Overall Passing":allPassing_mean})

# Format data
scores_by_size["Average Reading Score"]=scores_by_size["Average Reading Score"].map("{:.3f}".format)
scores_by_size["% Passing Math"]=scores_by_size["% Passing Math"].map("{:.3f}".format)
scores_by_size["% Passing Reading"]=scores_by_size["% Passing Reading"].map("{:.3f}".format)
scores_by_size["% Overall Passing"]=scores_by_size["% Overall Passing"].map("{:.3f}".format)

scores_by_size

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small(<1000),83.8000,83.900,93.550,96.100,89.885
Medium(1000-2000),83.4000,83.860,93.598,96.790,90.620
Large(2000-5000),77.7375,81.337,69.964,82.766,58.285

In [135]:
# Scores by School Type
school_type=school_summary.groupby(["School Type"])

#calculate the mean of every school type group
math_score_mean=school_type["Average Math Score"].mean()
Reading_score_mean=school_type["Average Reading Score"].mean()
passing_math_mean=school_type["% Passing Math"].mean()
passing_reading_mean=school_type["% Passing Reading"].mean()
allPassing_mean=school_type["% Overall Passing"].mean()

# create a dataframe to hold the results
scores_by_type=pd.DataFrame({"Average Math Score":math_score_mean,
                                "Average Reading Score":Reading_score_mean,
                                "% Passing Math":passing_math_mean,
                                "% Passing Reading":passing_reading_mean,
                                "% Overall Passing":allPassing_mean})

# Format data
scores_by_type["Average Reading Score"]=scores_by_type["Average Reading Score"].map("{:.3f}".format)
scores_by_type["% Passing Math"]=scores_by_type["% Passing Math"].map("{:.3f}".format)
scores_by_type["% Passing Reading"]=scores_by_type["% Passing Reading"].map("{:.3f}".format)
scores_by_type["% Overall Passing"]=scores_by_type["% Overall Passing"].map("{:.3f}".format)

scores_by_type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.487500,83.888,93.620,96.586,90.431
District,76.942857,80.957,66.549,80.799,53.671

In [ ]:
#conclusions on city schools:

# 1. charter schools tend to have a better formance than district school. top 5 are all from charter and bottom 5 are all district school. 
#    This is also inline with the result from scores by school types. The average scores in Math and Reading, as well as % passing from 
#    charter schools are higher than district school. 

# 2. Interstingling everage spending per student does not guarantee better performance.

# 3.  Smaller school tends to have higher passing rate from report. 

# 4. Same school tends to have consistant performance over different grade.